pulumi-api-symbol {
    display: flex,
    align-items: center,
    justify-content: center,
    box-sizing: border-box,
    height: 14px,
    width: 14,
    border-width: 1px,
    border-style: solid,
    border-radius: 50%,
    margin-right: 6px,
    font-weight: 700,
    font-size: 9,
}