pulumi-resource-links{
    .container {
        margin-bottom: 24px;
    }
    .heading {
        color: #2e3872;
        font-weight: 600;
        font-size: 14px;
        padding-bottom: 2px;
    }
    .links {
        padding-left: 10px;
        padding-top: 8px;
        font-size: 14px;
        color: #2e3872;
        a:hover {
            font-weight: 600;
        }
    }
}
