<!-- Use this partial to pull the JS and CSS bundles into your project. -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

{{ $js := resources.Get "js/bundle.js" | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{ $nonMarketingSections := slice "docs" "registry" "blog" "learn" "authors" "tags" "legal" }}
{{ if in $nonMarketingSections .Section }}
{{ else }}
    {{ $marketingCss := resources.Get "css/marketing.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $marketingCss.RelPermalink }}"></link>
{{ end }}

{{ $css := resources.Get "css/bundle.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}"></link>
