slot-machine-result {

  .slot-container {

    .margin-container {
      width: 25%;
      text-align: center;
    }

    .logo-container {
      width: 14%;
      text-align: center;

      img {
        animation: fadeIn 500ms;
      }
    }

    .separator-container {
      width: 4%;
      text-align: center;
      vertical-align: middle;
    }

    .code-container {
      white-space: nowrap;
    }

    .code-row {
      //display: flex;
      //flex-grow: 1;
      //flex-flow: row nowrap;
      white-space: nowrap;
      //height: 60vh;
      width: 60%;
      margin-left: 20%;
      //margin-bottom: 1%;
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {
      text-align: center;
      margin: 1% 25%;
      border: thin solid black;
    }

  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}
