slot-machine-result {

  .slot-container {

    .margin-container {
      width: 25%;
      text-align: center;
    }

    .logo-container {
      width: 14%;
      text-align: center;

      img {
        animation: fadeIn 500ms;
      }
    }

    .separator-container {
      width: 4%;
      text-align: center;
      vertical-align: middle;
    }

    .code-container {
      flex-grow: 1;
      height: 60vh;

      img {
        animation: fadeIn 500ms;
        height:0;
        min-height:100%;
        object-fit: contain;
      }
    }

    .code-row {
      display: flex;
      flex-grow: 1;
      flex-flow: row nowrap;
      align-items: center;
      height: 60vh;
      width: 100%;
      margin-bottom: 1%;
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {
      text-align: center;
      margin: 1% 25%;
      border: thin solid black;
    }

  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}
