.symbol {
  height: 24px;
  width: 24px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.symbol-small {
  height: 14px;
  width: 14px;
  font-size: 9px;
}

.symbol-large {
  height: 32px;
  width: 32px;
  font-size: 24px;
}
