
h3.pdoc-module-header {
    @apply pb-1 border-b border-gray-400;
}

// Indent all elements preceded by this header.
h3.pdoc-module-header ~ * {
    @apply ml-4;
}

// ...except equal or larger headers.
h3.pdoc-module-header ~ h3,
h3.pdoc-module-header ~ h2 {
    @apply ml-0;
}

// We want visually recognizable links here.
.highlight {
    a {
        @apply text-blue-600;

        &:hover {
            @apply text-blue-700;
        }
    }
}

h3.api {
    &.resource {
        &:before {
            content: "Resource "
        }
    }
}

ul.api {
    @apply list-none p-0 m-0 overflow-hidden;

    columns: 1;

    @screen xl {
        columns: 2;
    }

    li {
        @apply truncate mt-0;

        a {
            @apply truncate bg-none inline-block p-1 max-w-full;

            &:hover {
                @apply underline;
            }
        }
    }
}
