.all-packages {

    .package {
        ~ .no-results {
            @apply block;
        }

        &:not([class*="hidden"]) ~ .no-results {
            @apply hidden;
        }
    }

    .package-tags {
        @apply inline-flex flex-wrap list-none p-0;

        li {
            @apply mr-2 my-1 py-2 px-3 border-2 rounded text-sm border-gray-200;

            @screen md {
                @apply mr-4 px-3;
            }
        }

        &.active-tags {
            @apply mt-2;

            @screen md {
                @apply mt-0;
            }

            li {
                @apply py-1 my-0 mb-2;

                @screen md {
                    @apply mr-2;
                }
            }
        }
    }

    [data-filter-group="type"] {
        &[data-filter-value="provider"] {
            @apply border-blue-300;

            [data-selected-types*="provider"] & {
                @apply bg-blue-300;
            }
        }

        &[data-filter-value="native-provider"] {
            @apply border-violet-300;

            [data-selected-types*="native-provider"] & {
                @apply bg-violet-300;
            }
        }

        &[data-filter-value="component"] {
            @apply border-purple-300;

            [data-selected-types*="component"] & {
                @apply bg-purple-300;
            }
        }
    }

    [data-filter-group="type"] {
        &[data-filter-value="provider"] {
            @apply border-blue-300;

            [data-selected-categories*="provider"] & {
                @apply bg-blue-300;
            }
        }
    }

    [data-filter-group="category"] {
        &[data-filter-value="cloud"] {
            @apply border-green-300;

            [data-selected-categories*="cloud"] & {
                @apply bg-green-300;
            }
        }
    }

    [data-filter-group="category"] {

        &[data-filter-value="cloud"] {
            border-color: #bfcbad; // TODO: Add to palette.

            [data-selected-categories*="cloud"] & {
                background-color: #bfcbad;
            }
        }

        &[data-filter-value="database"] {
            border-color: #cdd96c; // TODO: Add to palette.

            [data-selected-categories*="database"] & {
                background-color: #cdd96c;
            }
        }

        &[data-filter-value="infrastructure"] {
            border-color: #e2f4ac; // TODO: Add to palette.

            [data-selected-categories*="infrastructure"] & {
                background-color: #e2f4ac;
            }
        }

        &[data-filter-value="monitoring"] {
            border-color: #c4fee5; // TODO: Add to palette.

            [data-selected-categories*="monitoring"] & {
                background-color: #c4fee5;
            }
        }

        &[data-filter-value="network"] {
            border-color: #aae8df; // TODO: Add to palette.

            [data-selected-categories*="network"] & {
                background-color: #aae8df;
            }
        }

        &[data-filter-value="utility"] {
            border-color: #ffc482; // TODO: Add to palette.

            [data-selected-categories*="utility"] & {
                background-color: #ffc482;
            }
        }

        &[data-filter-value="version control system"] {
            @apply border-yellow-300;

            [data-selected-categories*="version control system"] & {
                @apply bg-yellow-300;
            }
        }
    }
}
