div.pulumi-deployments {
    label {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-bottom: 0.5rem;
    }

    legend {
        font-size: .75rem;
        opacity: .5;
        width: 450px;
        line-height: 1.25;
    }

    p {
        font-size: .75rem;
        font-weight: 400;
        line-height: 1rem;
        margin-bottom: 0;
        margin-top: 0;
        opacity: .5;
    }

    input:not([type="submit"]) {
        background-color: #fff;
        border-color: #e5e5df;
        border-radius: 0.25rem;
        border-width: 1px;
        padding: 0.5rem;
    }
}
